# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
foo-*.tar


# Ignore scripts marked as secret - usually passwords and such in config files
*.secret.exs
*.secrets.exs
.elixir_ls/dialyzer_manifest_22.1.1_elixir-1.9.1_test
.elixir_ls/build/test/lib/art/.mix/compile.elixir
.elixir_ls/build/test/lib/art/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/art/.mix/compile.lock
.elixir_ls/build/test/lib/art/.mix/compile.protocols
.elixir_ls/build/test/lib/art/.mix/compile.xref
.elixir_ls/build/test/lib/art/consolidated/Elixir.Collectable.beam
.elixir_ls/build/test/lib/art/consolidated/Elixir.Enumerable.beam
.elixir_ls/build/test/lib/art/consolidated/Elixir.IEx.Info.beam
.elixir_ls/build/test/lib/art/consolidated/Elixir.Inspect.beam
.elixir_ls/build/test/lib/art/consolidated/Elixir.List.Chars.beam
.elixir_ls/build/test/lib/art/consolidated/Elixir.Msgpax.Packer.beam
.elixir_ls/build/test/lib/art/consolidated/Elixir.String.Chars.beam
.elixir_ls/build/test/lib/art/ebin/art.app
.elixir_ls/build/test/lib/art/ebin/Elixir.Art.beam
.elixir_ls/build/test/lib/art/ebin/Elixir.Art.Component.Pentagon.beam
.elixir_ls/build/test/lib/art/ebin/Elixir.Art.Component.Pentagram.beam
.elixir_ls/build/test/lib/art/ebin/Elixir.Art.Component.PentagramFractal.beam
.elixir_ls/build/test/lib/art/ebin/Elixir.Art.Components.beam
.elixir_ls/build/test/lib/art/ebin/Elixir.Art.Scene.Home.beam
.elixir_ls/build/test/lib/elixir_make/.mix/compile.elixir
.elixir_ls/build/test/lib/elixir_make/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/elixir_make/.mix/compile.fetch
.elixir_ls/build/test/lib/elixir_make/.mix/compile.xref
.elixir_ls/build/test/lib/elixir_make/ebin/elixir_make.app
.elixir_ls/build/test/lib/elixir_make/ebin/Elixir.Mix.Tasks.Compile.ElixirMake.beam
.elixir_ls/build/test/lib/font_metrics/.mix/compile.elixir
.elixir_ls/build/test/lib/font_metrics/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/font_metrics/.mix/compile.fetch
.elixir_ls/build/test/lib/font_metrics/.mix/compile.xref
.elixir_ls/build/test/lib/font_metrics/ebin/Elixir.FontMetrics.beam
.elixir_ls/build/test/lib/font_metrics/ebin/Elixir.FontMetrics.Error.beam
.elixir_ls/build/test/lib/font_metrics/ebin/Elixir.FontMetrics.Source.beam
.elixir_ls/build/test/lib/font_metrics/ebin/Elixir.Msgpax.Packer.FontMetrics.beam
.elixir_ls/build/test/lib/font_metrics/ebin/Elixir.Msgpax.Packer.FontMetrics.Source.beam
.elixir_ls/build/test/lib/font_metrics/ebin/font_metrics.app
.elixir_ls/build/test/lib/msgpax/.mix/compile.elixir
.elixir_ls/build/test/lib/msgpax/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/msgpax/.mix/compile.fetch
.elixir_ls/build/test/lib/msgpax/.mix/compile.xref
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Inspect.Msgpax.Bin.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Inspect.Msgpax.Ext.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Bin.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Ext.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Ext.Unpacker.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Packer.Any.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Packer.Atom.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Packer.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Packer.BitString.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Packer.DateTime.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Packer.Float.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Packer.Integer.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Packer.List.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Packer.Map.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Packer.Msgpax.Bin.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Packer.Msgpax.Ext.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Packer.Msgpax.ReservedExt.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.PackError.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.ReservedExt.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Unpacker.beam
.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.UnpackError.beam
.elixir_ls/build/test/lib/msgpax/ebin/msgpax.app
.elixir_ls/build/test/lib/scenic/.mix/compile.elixir
.elixir_ls/build/test/lib/scenic/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/scenic/.mix/compile.fetch
.elixir_ls/build/test/lib/scenic/.mix/compile.xref
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Mix.Tasks.Scenic.Hash.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Mix.Tasks.Scenic.Run.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Cache.Base.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Cache.Base.Error.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Cache.Dynamic.Texture.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Cache.Hash.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Cache.Static.Font.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Cache.Static.Font.Error.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Cache.Static.FontMetrics.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Cache.Static.Texture.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Cache.Support.File.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Cache.Support.Hash.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Cache.Support.Hash.Error.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Cache.Support.Supervisor.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Component.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Component.Button.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Component.Error.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Component.Input.Caret.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Component.Input.Checkbox.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Component.Input.Dropdown.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Component.Input.RadioButton.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Component.Input.RadioGroup.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Component.Input.Slider.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Component.Input.TextField.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Component.Input.Toggle.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Component.Input.Toggle.State.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Components.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Graph.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Graph.Error.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Math.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Math.Line.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Math.Matrix.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Math.Matrix.Utils.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Math.Quad.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Math.Vector2.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Arc.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Circle.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Ellipse.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Error.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Group.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Line.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Path.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Quad.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Rectangle.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.RoundedRectangle.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.SceneRef.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Sector.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Cap.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.ClearColor.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Fill.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Font.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.FontBlur.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.FontSize.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.FormatError.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Hidden.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Join.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.MiterLimit.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Paint.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Paint.BoxGradient.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Paint.Color.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Paint.Dynamic.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Paint.Image.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Paint.LinearGradient.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Paint.RadialGradient.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Scissor.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Stroke.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.TextAlign.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.TextHeight.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Style.Theme.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Text.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Transform.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Transform.FormatError.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Transform.Matrix.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Transform.Pin.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Transform.Rotate.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Transform.Scale.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Transform.Translate.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitive.Triangle.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Primitives.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Scene.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Scene.Error.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Scene.Supervisor.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Scenes.Error.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Utilities.Enum.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Utilities.Map.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.Utilities.Texture.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.ViewPort.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.ViewPort.Config.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.ViewPort.Context.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.ViewPort.Driver.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.ViewPort.Driver.Config.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.ViewPort.Driver.Error.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.ViewPort.Driver.Info.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.ViewPort.Driver.Supervisor.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.ViewPort.Input.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.ViewPort.Status.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.ViewPort.Supervisor.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.ViewPort.SupervisorTop.beam
.elixir_ls/build/test/lib/scenic/ebin/Elixir.Scenic.ViewPort.Tables.beam
.elixir_ls/build/test/lib/scenic/ebin/scenic.app
.elixir_ls/build/test/lib/scenic/obj/line.o
.elixir_ls/build/test/lib/scenic/obj/matrix.o
.elixir_ls/build/test/lib/scenic/obj/texture.o
.elixir_ls/build/test/lib/scenic/priv/line.so
.elixir_ls/build/test/lib/scenic/priv/matrix.so
.elixir_ls/build/test/lib/scenic/priv/texture.so
.elixir_ls/build/test/lib/scenic/priv/static/font_metrics/Roboto-Regular.ttf.metrics
.elixir_ls/build/test/lib/scenic/priv/static/font_metrics/RobotoMono-Regular.ttf.metrics
.elixir_ls/build/test/lib/scenic_driver_glfw/.mix/compile.elixir
.elixir_ls/build/test/lib/scenic_driver_glfw/.mix/compile.elixir_scm
.elixir_ls/build/test/lib/scenic_driver_glfw/.mix/compile.fetch
.elixir_ls/build/test/lib/scenic_driver_glfw/.mix/compile.xref
.elixir_ls/build/test/lib/scenic_driver_glfw/ebin/Elixir.Scenic.Driver.Glfw.beam
.elixir_ls/build/test/lib/scenic_driver_glfw/ebin/Elixir.Scenic.Driver.Glfw.Cache.beam
.elixir_ls/build/test/lib/scenic_driver_glfw/ebin/Elixir.Scenic.Driver.Glfw.Compile.beam
.elixir_ls/build/test/lib/scenic_driver_glfw/ebin/Elixir.Scenic.Driver.Glfw.Font.beam
.elixir_ls/build/test/lib/scenic_driver_glfw/ebin/Elixir.Scenic.Driver.Glfw.Graph.beam
.elixir_ls/build/test/lib/scenic_driver_glfw/ebin/Elixir.Scenic.Driver.Glfw.Input.beam
.elixir_ls/build/test/lib/scenic_driver_glfw/ebin/Elixir.Scenic.Driver.Glfw.Port.beam
.elixir_ls/build/test/lib/scenic_driver_glfw/ebin/scenic_driver_glfw.app
.elixir_ls/build/test/lib/scenic_driver_glfw/priv/fonts/Roboto/LICENSE.txt
.elixir_ls/build/test/lib/scenic_driver_glfw/priv/fonts/Roboto/Roboto-Regular.ttf.eehRQEZX2sIQaz0irSVtR4JKmldlRY7bcskQKkWBbZU
.elixir_ls/build/test/lib/scenic_driver_glfw/priv/fonts/Roboto_Mono/LICENSE.txt
.elixir_ls/build/test/lib/scenic_driver_glfw/priv/fonts/Roboto_Mono/RobotoMono-Regular.ttf.x6stc899U4-s4IvN3pW5KM5gmpcCN8iBHKPHYFnIuy8
.elixir_ls/build/test/lib/scenic_driver_glfw/priv/prod/scenic_driver_glfw
.elixir_ls/dialyzer_tmp/.elixir_ls/build/test/lib/msgpax/ebin/Elixir.Msgpax.Packer.Any.beam
